.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9db79;
    background-image: url(../../public/home.avif);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .container h1{
    display: flex;
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 5px 2px #474747;
  }
  
  .letter{
    animation: drop-letters 5s infinite;
  }

  @keyframes drop-letters {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(-100%);
    }
    20% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @media (max-width: 1024px){
    .container h1{
      font-size: 4rem;
    }
  }

  @media (max-width: 768px){
    .container h1{
        font-size: 2rem;
    }
}